.freemius-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 2.5px;
  }

  button:hover {
    text-decoration: none !important
  }

  .freemius-toggle__option {
    border: 2px solid;
    padding: 10px 15px !important;
  }
}
