.freemius-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin:5px;
  }

  button:hover {
    text-decoration: none !important
  }

  .is-style-outline button.freemius-toggle__option.wp-block-button__link {
    padding: 0.5em 1em;
  }
}